h1 {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

